<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
    <title>List - Person</title>
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/color.css">
    <link rel="stylesheet" href="/font.css">
    <link rel="stylesheet" href="/table.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            lucide.createIcons();
        })
    </script>
</head>
<body>
<a th:href="@{/usuario/new}"><i data-lucide="user-round-plus"></i>New Usuario</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Cpf</th>
        <th>Senha</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="usuario : ${listUsuario}">
        <td th:text="${usuario.id}"/>
        <td th:text="${usuario.cpf}"/>
        <td th:text="${usuario.senha}"/>
        <td>
            <a th:href="@{'/usuario/' + ${usuario.id} + '/edit'}"><i data-lucide="user-round-pen"></i>Edit Usuario</a>
            <a th:href="@{'/usuario/' + ${usuario.id} + '/delete'}"><i data-lucide="user-round-x"></i>Delete Usuario</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>